.header {
  margin-top: 10px;
  margin-left: 350px;
  color: green;
}

#footer {
  color: blue;
  margin-top: 800px;
  margin-left: 350px;
}

.main {
  color: magenta;
  margin-left: 350px;
  margin-top: 100px;
}